.logo {
  padding-top: 11px;
}

.main {
  padding-top: 70px;
}

#scrape-text {
  margin: 40px 0px;
}

.heading, .save-button {
  display: inline-block;
}

.heading {
  padding: 0;
}

.save-button, .comment-button {
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

.author, .delete {
  display: inline-block;
}

.author {
  margin-bottom: 5px;
}

.delete-comment {
  float: right;
  font-size: 24px;
  color: red;
  opacity: 1.0;
}

.delete-comment:hover, .delete-comment:focus {
  color: #800000;
  opacity: 1.0;
}

#date {
  font-size: 12px;
  color: gray;
}

.validate {
  color: red;
}

#name-validate,
#comment-validate {
  display: none;
}