body {
  background-image: url("http://sanfrancisco.giants.mlb.com/sf/images/fan_forum/y2017/SFG17_Wallpapers_1920x1080_Bumgarner.jpg");
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed;
}

.logo {
  padding-top: 11px;
}

.main {
  padding-top: 90px;
}

.navbar-inverse .navbar-nav>.active>a {
  color: #FB5B1F;
}

.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
}

#scrape-text {
  margin: 40px 0px;
}

.heading, .save-button {
  display: inline-block;
}

.heading {
  padding: 0;
}

.save-button, .comment-button {
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

.author {
  display: inline-block;
  margin-bottom: 5px;
}

.delete-comment {
  float: right;
  font-size: 24px;
  color: #FB5B1F;
  opacity: 1.0;
}

.delete-comment:hover, .delete-comment:focus {
  color: #BB4417;
  opacity: 1.0;
}

#date {
  font-size: 12px;
  color: gray;
}

.validate {
  color: #FF0000;
}

#name-validate,
#comment-validate {
  display: none;
}

h4.heading {
  color: #fff;
  font-weight: bold;
}

h4.heading:hover {
  color: #FB5B1F;
}

.panel {
  border: 0;
}

.panel-default>.panel-heading {
  background-color: #333;
  border-bottom: 3px solid #FB5B1F;
}

.modal-header {
  background-color: #333;
  border-bottom: 3px solid #FB5B1F;
}

.modal-title {
  color: #fff;
}

.close-btn {
  color: #fff;
  opacity: 0.5;
  text-shadow: 0 1px 0 #000;
}

.close-btn:hover, .close-btn:focus {
  color: #FB5B1F;
  opacity: 0.8;
}